body {
  min-width: 1040px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.page-header {
  min-height: 550px;
  background: url('../img/bgr-header.jpg') no-repeat 15% 25%;
  background-size: cover;
  border: .1px solid transparent;

  .menu-header {
    float: right;
  }


  .txt {
    margin-top: 120px;
    height: 100%;

    .tagline {
      color: #fff;
      font-size: 70px;
      font-weight: bold;
      line-height: 80px;
      text-align: center;
    }
  }
}

.header-logo {
  float: left;
}

.menu {
  li {
    list-style-type: none;
    display: inline;
    padding-right: 50px;
  }

  li:last-child {
    padding-right: 0;
  }


  li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

    &:hover {
      color: #ffcb78;
    }

    &:active {
      color: #a4a4a4;
    }
  }
}

.page-header {
  .menu-header {
    ul {
      border: 1px solid transparent;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      /*top right bottom left*/
      padding: 20px 0;
      margin: 0;
    }
  }
}

/*Новинки*/
.headline-page {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

.page-new {
  box-sizing: border-box;
  margin-bottom: 115px;

  .headline-page {
    margin: 100px 0 110px 0;
  }

  .new-product {
    width: 99.5% / 2;
    height: 740px;
    border: 1px solid transparent;
    border-right: 1px solid #bbbbbb;


    .description-left {
      width: 175px;
      float: right;
      margin: 10px 0 0 0;
    }

    img {
      float: left;
      margin-left: 65px;
    }
  }

  .product-left {
    float: left;
    border-left: 1px solid #bbbbbb;
  }

  .product-right {
    float: right;
  }

  .alcohol-product, .calories-product {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
  }

  .calories-product {
    margin-top: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid #bbbbbb;
  }

  .composition-product {
    font-size: 12px;
    color: #929292;
  }

  .name-product {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    /*top right bottom left*/
    margin: 60px 0 50px 35px;
  }

  .description-product {
    color: #929292;
    line-height: 30px;
    margin-left: 35px;
  }

  .btn-more {
    color: #854505;
    border: 1px solid #854505;
    margin-left: 35px;

    &:hover {
      color: #fff;
      background: #854505;
    }

    &:active {
      color: #854505;
      background-color: #fff;
    }
  }

  .btn-buy {
    color: #fff;
    background: #854505;
    border: 1px solid #854505;

    &:hover {
      color: #854505;
      background-color: #fff;
    }

    &:active {
      color: #fff;
      background: #854505;
    }
  }

  .price-product {
    display: inline;
    font-weight: bold;
    margin-left: 30px;

  }

  .new-footer {
    margin-top: 70px;
  }
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  padding: 15px 20px;
}

/*Преимущества*/
.page-advantages {
  background-color: rgb(255, 203, 120);
  padding: 80px 0;


  .container-adv {
    width: 1060px;
    margin: 0 auto;

    .item-2 {
      background-position: 75px;
    }
  }

  .advantage-item {
    position: relative;
    padding-top: 30px;

    &::before {
      width: 57px;
      height: 65px;
      position: absolute;
      content: "";

      top: -50px;

      background: url("../img/sprite.jpg") no-repeat;
    }

    &:first-child {
      width: 310px;
    }

    &:nth-child(2) {
      width: 400px;
      padding-left: 90px;

      &::before {
        width: 50px;
        height: 65px;
        background-position: -74px;
      }
    }

    &:last-child {
      width: 310px;
      padding-left: 90px;
      border-right: transparent;

      &::before {
        width: 70px;
        height: 60px;
        background-position: -147px;
      }
    }
  }


  ul li {
    list-style-type: none;
    float: left;
    border-right: 1px solid #929292;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    h2 {
      text-transform: uppercase;
    }

    p {
      color: #929292;
      margin-top: 30px;
      padding-left: 0;
    }
  }

  .item-2 {
    background-position: 75px;
  }

}

/*История*/

.page-history {
  .headline-page {
    margin-top: 90px;
    margin-bottom: 85px;
  }

  .origin-history {
    margin-bottom: 60px;
  }

  .classification-history {
    margin-bottom: 70px;
  }

  .section-top {
    p {
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }

    i {
      float: right;
      padding-top: 15px;

      a {
        color: rgb(131, 71, 0);
      }
    }
  }

  .section-bottom {
    p {
      float: left;
      width: 490px;
      margin-top: 10px;
      color: #929292;
      line-height: 30px;
    }

    img {
      float: right;
      margin-top: 10px;
    }
  }
}


/*Пресса*/

.page-press {
  background-color: rgb(237, 229, 216);
  padding: 70px;

  .headline-page {
    padding-bottom: 60px;
    font-weight: bold;

  }

  blockquote {
    color: #929292;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;

    &::after{
      width: 57px;
      height: 65px;
      position: absolute;
      content: "";

      top: -50px;

      background: url("../img/sprite.jpg") no-repeat;
    }
  }

  .btn-read {
    border: 1px solid #929292;
    color: #929292;
    float: left;

    &:hover {
      color: #fff;
      background-color: #929292;
    }

    &:active {
      color: #929292;
      background-color: transparent;
    }
  }

  cite {
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    float: right;
    padding-top: 15px;

  }

  .press-bottom {
    //margin-bottom: 90px;
  }
}

/*Ассортимент*/

.page-range {
  .headline-page {
    /*top right bottom left*/
    margin: 100px 0 90px 0;
    padding: 0;
  }

  .range-list {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 90px;

    tr {
      th {
        color: #929292;
        padding-bottom: 45px;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 10px;
        border-bottom: 1px solid #929292;

        &:last-child {
          text-align: right;
        }

        &:first-child {
          text-align: left;
        }
      }

      td {
        color: rgb(68, 68, 68);
        text-transform: uppercase;
        text-align: center;
        padding: 15px 0;
        border-bottom: 1px solid #929292;

        &:last-child {
          text-align: right;
        }

        .new-product {
          display: inline;
          font-weight: normal;
          font-size: 9px;
          padding: 2px 4px;
          background-color: #000;
          color: #fff;
          border-radius: 3px;
          vertical-align: top;
          margin-left: 30px;
        }
      }

      .name-product {
        text-transform: uppercase;
        font-weight: bold;
        text-align: left;
      }
    }
  }
}

/*Заказать*/

.page-order {
  background-color: rgb(255, 203, 120);
  padding: 55px;

  .headline-page {
    margin-bottom: 95px;
  }

  .offer {
    color: rgb(72, 65, 72);
    margin-bottom: 75px;
  }

  input[type="text"], select, textarea {
    width: 600px;
    height: 50px;
    float: right;
    margin-bottom: 10px;
    background-color: rgb(230, 182, 108);
    border: 1px solid transparent;
  }

  textarea {
    height: 150px;
  }

  label {
    text-transform: uppercase;
    font-weight: bold;
  }

  .phone-left {
    float: left;
    width: 50%;
  }

  .phone-right {
    float: right;
    width: 50%;

    label {
      margin-left: 50px;
    }
  }

  #value-order {
    width: 605px;
    border-radius: 0;
    appearance: none;
  }

  #phone1, #phone2 {
    width: 200px;
  }

  .checkbox-area {
    margin-top: 40px;
    width: 600px;
    float: right;
    display: inline-block;

    input {
      margin-right: 25px;
    }
  }

  .btn-sub {
    margin-top: 40px;
    margin-bottom: 50px;

    .btn-order {
      padding: 20px 25px;
      color: #fff;
      background-color: rgb(131, 71, 0);
      margin-left: 200px;
    }
  }
}

/*Чекбокс*/

input[type=checkbox], input[type=radio] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  color: transparent;
  display: inline-block;
  background-color: rgb(230, 182, 108);
  border: 0.1px solid transparent;
  font-size: 25px;
  line-height: 22px;
  margin: 0;
  height: 35px;
  width: 35px;
  text-align: center;
  vertical-align: middle;
  transition: color ease .3s;
}

input[type=checkbox]:checked + label:before {
  box-sizing: border-box;
  color: #000;
  padding-top: 8px;
}

/*Чекбокс конец*/


/*Подвал*/

.page-footer {
  padding: 60px;
  background-color: #000;

  .container-footer-top {
    width: 870px;
    margin: 0 auto;
  }

  .footer-top {
    margin-top: 60px;

    .footer-logo {
      float: left;
    }

    .menu-footer {
      float: right;
    }
  }

  .container-footer-bottom {
    width: 1000px;
    margin: 0 auto;
    margin-top: 45px;

    .footer-social {
      width: 225px;
      float: left;
      margin-left: 20px;

      .social-btn {
        display: inline-block;
        vertical-align: middle;
        width: 70px;
        height: 70px;

        font-size: 0;

        background: url("../img/sprite.jpg") no-repeat;
      }

      .social-btn-in {
        background-position: -310px;
      }

      .social-btn-fb {
        background-position: -401px;
      }

      .social-btn-vk {
        background-position: -492px 3px;
      }

    }

    .copyright {
      color: #fff;
      width: 240px;
      float: left;
      font-size: 12px;
      margin-left: 88px;
    }

    .who-is-developer {
      color: #fff;
      width: 260px;
      float: right;
      font-size: 12px;
      position: relative;
      padding-top: 10px;


      .developer {
        font-weight: bold;
        font-style: normal;
        padding-left: 90px;

        &::before {
          width: 60px;
          height: 60px;
          position: absolute;
          content: "";
          /* //временная видимость:
           background-color: red;
           opacity: 0.5;*/
          left: 5px;
          top: -10px;
          background: url("../img/sprite.jpg") no-repeat;
          background-position: -582px;
        }

      }
    }

  }
}